/* 
@author     M.Staerke
@version    10.04.2018
*/




/* CSS in generell */



html {
    overflow: hidden;
}


body {
    font-family: 'Asap', sans-serif; 
}


.navbar-menu {    
}

.nav-list {
    background-color:  cadetblue;   
    color:  white;
}

.nav-item {    
    color:  white;
}


.first-subtitle {
    column-gap: 40px;
    column-count: 2;
    column-rule-style: solid;
    column-rule-width: 2px;
    column-rule-color: turquoise;
    column-rule: 4px solid turquoise;
    column-width: 60px;
}

.second-subtitle {
    column-gap: 40px;
    column-count: 3;
    column-rule-style: solid;
    column-rule-width: 2px;
    column-rule-color: turquoise;
    column-rule: 4px solid turquoise;
    column-width: 100px;
}





/* CSS for Index */



.side-menu-layout {
    display: grid;
    float: right;
    padding-left: 30px;
}

.menu-label {
    background-color: #003399;
    color: aliceblue;
}

.menu-list {    
}



.footer {
    background-color: #003399;
    margin-top: 20px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
}

.content {
    color: white;
}

.footer-link {
    color: floralwhite;
}


.columns-body {
    display: grid;
    float: left;
    width: 75%;
}

.basketballkorb {
    max-width: 70%;
}




/* CSS for Tutorial */



.first-title-tutorial {
    text-align: center;
}

.second-subtitle-tutorial {
}






/* CSS for Trainingsplan */







/* CSS for Shop */
