/* 
@author     M.Staerke
@version    22.04.2018
*/




/* CSS in generell */


html {
    overflow: hidden;
}


body {
    font-family: 'Asap', sans-serif; 
}


a {
    font-size: 20pt;
    color: white;
}

p {
    font-size: 20pt; 
}

blockquote {
    font-size: 14pt;
}


.navbar-menu {    
    background-color: #003399;
}


.navbar-item {    
    color: #003399;
}


.hero-main {
    float: left;
}

.newsfeed {
    float: right;
}






/* CSS for Index */


.menu-label {
    background-color: #003399;
    color: aliceblue;
}


.newsfeed {
    width: 25%;
}





/* CSS for Tutorial */



/* CSS for Trainingsplan */



/* CSS for Shop */



/* CSS for Kontakt */


